<div id="monadic">
  <h1>monadic</h1>
  <h2>Ruby on Rails, Clojure, AngularJS Consulting</h2>
  <h3>
    <span>email: <a href="mailto:adam@pohorecki.pl">adam@pohorecki.pl</a></span>
    <span>github: <a href="https://github.com/psyho">psyho</a></span>
    <span>twitter: <a href="http://twitter.com/apohorecki">@apohorecki</a></span>
  </h3>
</div>
